<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="Categorias.html"><img src="images/logofoot.png" alt="#"></a>
                        </div>
                        <p class="text">Suscríbete a nuestro boletín: Recibe las últimas noticias, ofertas exclusivas y lanzamientos de videojuegos directamente en tu correo.</p>
                        <p class="call">¿Tienes alguna pregunta? llamanos 24/7<span><a href="tel:78978477">01 78978477</a></span></p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Informacion</h4>
                        <ul>
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Terminos y condiciones</a></li>
                            <li><a id="Contact" href="#">Contactanos</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Servicio al Cliente</h4>
                        <ul>
                            <li><a href="#">Metodos de Pago</a></li>
                            <li><a href="#">Devolucion de dinero</a></li>
                            <li><a href="#">Libro de reclamaciones</a></li>
                            <li><a href="#">Politicas de Privacidad</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Contacto</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li></li>
                                <li></li>
                                <li>info@gstore.com</li>
                                <li>789 78477</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2024 <a href="#" target="_blank">Game Store</a>  -  Todos los derechos reservados.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">
                            <img src="images/payments.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>